#grid-container {
  display: grid;
  height: 100vh;
  border: 2px solid black;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  grid-template-areas:
    "sidebar header header header header header"
    "sidebar header header header header header"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main";
}

.grid-sections {
  border: 1px solid red;
}

#sidebar {
  grid-area: sidebar;
}

#header {
  grid-area: header;
}

#main {
  grid-area: main;
}
