body {
  margin: 0;
}

#grid-container {
  display: grid;
  height: 100vh;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  grid-template-areas:
    "sidebar header header header header header"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main";
}

.grid-sections {
  border: 1px solid red;
}

#sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template: repeat(1, 1fr) repeat(2, 2fr);
  gap: 20px;
}

#header {
  grid-area: header;
  display: grid;
}

#main {
  grid-area: main;
}

.sidebar-cells {
  padding-left: 20px;
}

#top-header {
  display: grid;
  grid-template-areas: "search search search search  bell  user-info";
}

#search {
  grid-area: search;
}

#bell-icon {
  grid-area: bell;
}

#user-info {
  grid-area: user-info;
}

#user-info,
#bell-icon,
#search {
  display: flex;
  align-items: center;
  padding-left: 5%;
}

#search-bar {
  width: 90%;
  height: 40%;
  border-radius: 50px;
  border: none;
  background-color: #e1e5eb;
}

#bell-icon {
  padding: 0;
  justify-content: right;
}

#user-info {
  justify-content: center;
  padding: 0;
}

#bottom-header {
  border: 2px solid;
  display: grid;
  grid-template-columns: repeat(1, 3fr) repeat(3, 0.5fr);
}

.bottom-header-cells {
  border: 2px solid red;
}
