body {
  margin: 0;
}

#grid-container {
  display: grid;
  height: 100%;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  grid-template-areas:
    "sidebar header header header header header"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main";
}

.grid-sections {
  border: 1px solid red;
}

#sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template: repeat(1, 1fr) repeat(2, 2fr);
  gap: 20px;
  height: fit-content;
}

#header {
  grid-area: header;
  display: grid;
}

#main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(1, 3fr) repeat(1, 1fr);
}

.sidebar-cells {
  padding-left: 20px;
}

#top-header {
  display: grid;
  grid-template-areas: "search search search search  .  user-info";
  padding-top: 1%;
}

#search {
  grid-area: search;
}

#profile {
  grid-area: user-info;
}

#profile,
#search {
  display: flex;
  align-items: center;
}

#search-bar {
  width: 100%;
  height: 50%;
  border-radius: 50px;
  border: none;
  background-color: #e1e5eb;
}

#profile {
  justify-content: right;
  padding: 0;
}

#bottom-header {
  display: grid;
  grid-template-columns: repeat(1, 3fr) repeat(3, 0.5fr);
  padding-top: 20px;
  padding-bottom: 20px;
}

#top-header,
#bottom-header {
  padding-left: 1%;
  padding-right: 1%;
}

#greeting {
  display: grid;
  grid-template-areas:
    "user-img welcome-msg ."
    "user-img user-name .";
  width: fit-content;
}

#user-img {
  grid-area: user-img;
  display: flex;
  justify-content: center;
  width: fit-content;
}

#welcome-msg {
  grid-area: welcome-msg;
  display: flex;
  padding-left: 20px;
}

#welcome-msg > p {
  display: flex;
  align-items: flex-end;
  margin: 0;
}

#user-name {
  grid-area: user-name;
  padding-left: 20px;
}

#user-name > h1 {
  margin: 0;
}

#share-btn,
#upload-btn,
#new-btn {
  display: flex;
  justify-content: right;
  align-items: center;
}

button {
  background-color: black;
  color: white;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  font-size: 1em;
}

.main-cells {
  border: 1px solid blue;
}

#projects {
  display: grid;
  grid-template: repeat(1, 0.1fr) repeat(3, 1fr) / repeat(2, 1fr);
  height: fit-content;
}

.project-cards {
  margin: 3% 4% 3% 4%;
  border-radius: 20px;
  border-left: 20px solid purple;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition-duration: 0.3s;
}

.project-cards:hover {
  transform: translateY(-7px);
}

#projects-title {
  grid-column: 1 / -1;
}

#projects-title > h2 {
  margin-bottom: 0;
  margin-left: 2%;
}

#announcements-trending {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(1, 1fr);
  height: fit-content;
}

.anouncements-trending-section {
  border: 1px solid purple;
  height: fit-content;
}

#trending,
#announcements {
  display: grid;
  grid-template-rows: repeat(1, 0.1fr) repeat(1, 1fr);
}

#announcements-title > h2 {
  margin-bottom: 0;
  margin-left: 4.2%;
}

#trending-title > h2 {
  margin-bottom: 0;
  margin-left: 4.2%;
}

#trending-card,
#announcements-card {
  margin: 12px 4% 3% 4%;
  border-radius: 20px;
  height: 300px;
}

.project-desc {
  padding: 0px 10px 0px 10px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  height: inherit;
}

.project-desc > h3 {
  margin-bottom: 0px;
}

.project-desc > p {
  flex: 1;
  overflow: auto;
  margin-top: 0px;
}

.project-btns {
  text-align: end;
  padding-bottom: 10px;
}

.project-icons {
  padding: 0px 10px 0px 10px;
}

#announcements-card {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(1, 1fr);
  padding: 20px 10px 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.announcements-content > p,
h4 {
  margin: 0;
}

hr {
  width: 100%;
  align-self: center;
  border: 1px solid;
}

#trending-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.trending-content {
  border: 2px solid;
  display: grid;
  grid-template: repeat(4, 1fr);
}

.trending-desc {
  border: 2px solid red;
  display: flex;
}

.trending-desc > p {
  padding-left: 10px;
}
